.videos__cat{
    width: 100%;
    padding-left: 15px;
}

.titulo__general{
    padding-left: 15px;
}

.titulo__video{
    font: $montserrat;
    font-weight: 700;
    font-size: 20px;
}

.text__video{
    font: $montserrat;
    font-weight: 400;
    margin-top: -5px;
}